*{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/*::-webkit-scrollbar{*/
/*    display: none;*/
/*}*/

body{
    /*background: #131313;*/
    background: #0a0a0a;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*section{*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    height: 500vh;*/
/*}*/


#flashDiv {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    transition: opacity 0.1s;
}

#startPage{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: #0a0a0a;
    z-index: 99;
}

#startPage h1{
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 64px;
}

#startPage h1:hover{
    cursor: pointer;
}

#landingPage #header h1{
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    color: white;
    font-size: 3rem;
}

#landingPage #footerLandingPage div{
    color: white;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
}

#landingPage #footerLandingPage div i{
    transform: rotate(-90deg);
    font-size: 32px;
    margin-top: 64px;
    margin-bottom: 16px;
    animation: moveAnimation 2s cubic-bezier(.58,1.49,.75,.26) infinite;
}

@keyframes moveAnimation {
    0%   { transform: translate(0, 0) rotate(-90deg); }
    50%  { transform: translate(0, 15px) rotate(-90deg); }
    100% { transform: translate(0, 0) rotate(-90deg); }
}

.moving-div {
    width: 500px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    z-index: 9;
}

.chapiter1:hover{
    cursor: pointer;
}

#lettreChapitre1{
    z-index: 90;
    background: yellow;
    height: 90%;
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.5s;
}

#lettreChapitre1 img{
    height: 100%;
}

#lettreChapitre1 i{
    position: fixed;
    top: 8px;
    right: 8px;
    transform: rotate(45deg);
    font-size: 32px;
    color: gray;
}

#lettreChapitre1 i:hover{
    cursor: pointer;
}

#porteHotel button, #sectionAscen button{
    position: fixed;
    z-index: 91;
    left: 50%;
    bottom: 16px;
    transform: translate(-50%,-50%);
    padding-inline: 32px;
    padding-block: 4px;
    background: transparent;
    border: 2px solid white;
    border-radius: 32px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

#lettreChapitre1 button, #nextChapiter1 button, #sectionHotel button, #polaRecep1 button, #polaRecep2 button, #polaRecep3 button{
    position: fixed;
    z-index: 91;
    left: 50%;
    bottom: 16px;
    transform: translate(-50%,-50%);
    padding-inline: 32px;
    padding-block: 4px;
    background: transparent;
    border: 2px solid black;
    border-radius: 32px;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

#porteHotel button:hover, #sectionAscen button:hover{
    cursor: pointer;
    background: white;
    color: black;
    transition: 0.2s ease-in-out;
}

#lettreChapitre1 button:hover, #nextChapiter1 button:hover, #sectionHotel button:hover, #polaRecep1 button:hover, #polaRecep2 button:hover, #polaRecep3 button:hover{
    cursor: pointer;
    background: black;
    color: white;
    transition: 0.2s ease-in-out;
}


#nextChapiter1, #sectionHotel, #polaRecep1, #polaRecep2, #polaRecep3{
    z-index: 90;
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.5s;
}

#porteHotel, #porteAscenceur{
    /*background: red;*/
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    top: 100%;
    z-index: 50;
    transition: 0.2s ease-in-out;
}

#porteHotel img, #sectionAscen img{
    height: 85%;
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#porteHotel .porteDroite{
    /*background: url("./public/img/porte_hotel/porte_de_droite");*/
    background: url("../img/porte_hotel/porte_de_droite.png");
    /*background: red;*/
    position: fixed;
    z-index: 2;
    width: 7.5%;
    height: 63.5%;
    left: 50%;
    bottom: 13%;
}

#porteHotel .porteGauche{
    background: url("../img/porte_hotel/porte_de_gauche.png");
    /*background: red;*/
    position: fixed;
    z-index: 2;
    width: 7.5%;
    height: 63.5%;
    left: 43%;
    bottom: 13%;
}

#porteHotel .decorReception{
    background: url("../img/porte_hotel/couloir.png");
    height: 700px;
    width: 400px;
    position: fixed;
    bottom: 13%;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
    background-size: cover;
}

#sectionAscen .porteAscDroite{
    left: 50%;
    top: 20%;
    height: 70%;
    width: 163px;
    position: fixed;
    background: url("../img/porte_ascenseur/porte_droite.png");
    background-size: cover;
    background-position: center;
}

#sectionAscen .porteAscGauche{
    left: 41.9%;
    top: 24%;
    height: 65%;
    width: 157px;
    position: fixed;
    background: url("../img/porte_ascenseur/porte_gauche.png");
    background-size: cover;
    background-position: center;
}

#sectionAscen #interieurAsc{
    background: url("../img/porte_ascenseur/interieur_asc.png");
    position: fixed;
    height: 65%;
    width: 340px;
    left: 50%;
    top: 54.9%;
    z-index: 1;
    transform: translate(-50%,-50%);
    background-size: cover;
    background-position: center;
}


#sectionAscen .scrollPara{
    position: fixed;
    left: 50%;
    bottom: 5.5%;
    transform: translateX(-50%);
    display: none;
}

#sectionAscen .etage{
    display: none;
}
